<div class="page">
  <h3>Cadastro de currículo</h3>

  <div class="container form-container">
    <mat-tab-group [(selectedIndex)]="selectedTabIndex">
      <mat-tab label="Dados pessoais">
        <app-personal-data [personalData]="registerResume.personalData"
        (data)="setPersonalData($event)"></app-personal-data>
      </mat-tab>
      <mat-tab label="Experiências profissionais">
        <app-professional-experience [experiences]="registerResume.professionalExperiences"
        (data)="setExperiences($event)"></app-professional-experience>
      </mat-tab>
    </mat-tab-group>
    <div class="row d-flex justify-content-between">
      <div class="col">
        <button mat-stroked-button (click)="cleanAll()" style="margin-right: 10px;">
          Limpar
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-stroked-button (click)="showJSON = !showJSON">
          <span *ngIf="!showJSON">Mostrar JSON</span>
          <span *ngIf="showJSON">Ocultar JSON</span>
          <mat-icon>sentiment_neutral</mat-icon>
        </button>
      </div>
      <div class="col d-flex justify-content-end">
        <button mat-flat-button (click)="nextTab()" *ngIf="selectedTabIndex == 0">
          Próxima página
          <mat-icon>arrow_forward</mat-icon>
        </button>
        <button mat-fab extended (click)="send()" *ngIf="selectedTabIndex == 1">
          Enviar
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="container json-container" *ngIf="showJSON">
    <h4>JSON dos dados do formulário</h4>
    <p><b>Dados pessoais:</b></p>
    <p>{{ registerResume.personalData | json }}</p>
    <p style="margin-top: 1rem;"><b>Experiências profissionais:</b></p>
    <p>{{ registerResume.professionalExperiences | json }}</p>
  </div>
</div>
