h3 {
  padding-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
 span {
  color: #e9e0e4;
 }

 ::ng-deep .mat-mdc-tab-label-container {
  margin-bottom: 1rem;
 }

 ::ng-deep .mat-mdc-tab-body-content {
  overflow: hidden !important;
 }
